<form>
  <fieldset  class="cardPers" disabled>
    <legend><h2>Informaçoes do(a) aluno(a):</h2></legend>
    <div class="mb-2">
         <label for="disabledTextInput" class="form-label"><h3>Nome:</h3></label>
            <input type="text" id="disabledTextInput " style="font-size: larger;" class="form-control" placeholder="{{aluno.nome}}">
    </div>

      <div class="mb-2">
         <label for="disabledTextInput" class="form-label"><h3>Idade:</h3></label>
            <input type="text" id="disabledTextInput"style="font-size: larger;" class="form-control" placeholder="{{aluno.idade}}">
      </div>
   
   <div class="mb-2">
       <label for="disabledTextInput" class="form-label"><h3>Responsavel:</h3></label>
           <input type="text" id="disabledTextInput"style="font-size: larger;" class="form-control" placeholder="{{responsavel.nome}}">
   </div>

   <div class="mb-2">
       <label for="disabledTextInput" class="form-label"><h3>Contato do responsavel:</h3></label>
           <input type="text" id="disabledTextInput"style="font-size: larger;" class="form-control" placeholder="{{aluno.contatoresp}}">
   </div>

   <div class="mb-2">
       <label for="disabledTextInput" class="form-label"><h3>Alergias:</h3></label>
           <input type="text" id="disabledTextInput"style="font-size: larger;" class="form-control" placeholder="{{aluno.alergias}}">
   </div> 

   <div class="mb-2">
       <label for="disabledTextInput" class="form-label"><h3>Turma:</h3></label>
           <input type="text" id="disabledTextInput"style="font-size: larger;" class="form-control" placeholder="{{turma.nome}}">
   </div>     

  </fieldset>
</form>


